<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="nlog.log"
      internalLogLevel="Debug"
      throwExceptions="true" 
      >
  <extensions>
    <add assembly="NLogEtw" />
  </extensions>
  <targets>
    <target xsi:type="EtwTarget" name="etw" source="TestEtwConfig" layout="${longdate}|${uppercase:${level}}|${message}${onexception:|Exception occurred\:${exception:format=tostring}}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="etw" />
  </rules>
</nlog>
